body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #3498db;
}

.contenedor {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.mensajes {
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: auto;
    color: #3498db;
}

.input-area {
    display: flex;
    justify-content: space-between;
}

.usuario-1, .usuario-2 {
    flex-grow: 1;
    margin-right: 10px;
}

.mensaje {
    width: calc(100% - 80px);
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.enviar-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.enviar-button--usuario1 {
    background-color: #3498db;
}

.enviar-button--usuario2 {
    background-color: #2ecc71;
}
